body {
	background-color: #EDEDED;
}
/*.header {
	background-color: #EDEDED;
}*/
.links {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: gray;
}
.themecolor {
	text-align: center;
	color: #2ECCFA;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-style: italic;
	text-align: center;
	font-size: 300%;
}
.mainbody {
	background-color: white;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right:1px solid #ccc;
}

h2 {
	color: #0080FF;
}