body {
	background-color: #EDEDED;
}
/*.header {
	background-color: #EDEDED;
}*/
.themecolor {
	color: #2ECCFA;
}
.mainbody {
	background-color: white;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right:1px solid #ccc;
}